@import "base/variables";
@import "base/mixins";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything(true);
@include foundation-flex-grid;
@include foundation-flex-classes;

// Components
@import "components/navigation";
@import "components/rant";
@import "components/pylon";

// fonts
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab');
@include google-font("Josefin+Sans");
@include google-font("Josefin+Slab");


// HTML Tags
body {
  font-family: $text-font;
  color: $text-color;
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}

h2 {
  @include large-text;
}

p {
  font-family: $text-font;
}

a {
  color: $link-color;
}

li {
  display: inline;
}

#hline {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2em 0;
  padding: 0;
}

#footer {
  padding-top: .5em;
  border-top: 2px;
  height: $footer-height;
  background-color: white;
  font-size: $small-font-size;
  transparentize: ($text-color, .4);
}
