//Colors
$white: #ffffff;
$red: #E74B4B;
$grey: #4A4A4A;
$text-color: #090909;
$link-color: #E74B4B;
$ternary-color: #5E5E5E;

// Navigation colors
$nav-background: $white;
$nav-text-color: $grey;

//Fonts
$text-font: 'Josefin Slab', serif;
$headline-font: 'Josefin Sans', sans-serif;


//SIZES
$footer-height: 90px;
//$col:col-width($columns: 12);
$content-width: 1024;
$footer-height: 64px;
