@import "base/foundation-settings";
@import "foundation";
@include foundation-everything(true);

#headline {
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: center;
}



.columns {
  padding: 3em 1.5em 3em 1.5em;
  justify-content: center;

  h1 {
    font-size: 48px;
  }
}

.panel {
  padding-top: 4em;
  padding-left: 3em;
  padding-bottom: 4em;
  align-content: center;
  h3 {
    font-size: 20px;
    text-align: left;
      }
}

#our-services {
  text-align: center;
  padding-right: 4em;
  padding-top: 4em;
  float: left;

  h3 {
    color: $red;
    font-size: 20px;
    font-weight: bold;
    padding-left: 3em;

  }
}

#rant {
  align-content: center;
}

.row > #foundedBlade {
  padding:4em;
  margin-top: 150px;
  margin-bottom: 120px;
}

#services-blocks {
  margin-top: 2em;
  margin-bottom: 2em;

}

.row > #border-strip {
  border-bottom: 1px solid;
  border-color: $red;
  padding: 0;
  margin-top: 2em;
}
