
#headline {
  color: black;
  font-style: italic;
  padding: 5em;
  align-self: center;
  text-align: center;
  height: 300px;
  }

#services {
    background-color: $grey;
    width: $global-width;
    text-color: white;
    height: 300px;
}
