@import "base/foundation-settings";
@import "foundation";
@include foundation-everything(true);

.wrapper {
  padding: 8em 6em 12em 6em;
  display: inline;
  margin-bottom: 8em;
  margin-top: 2em;

}


#contact-row {
  padding-top:50px;
  padding-bottom:100px;
  display:block;
  background-color: red;
  justify-content: left;
  .row {

  }
}


#new-biz-text {
  padding-top: 2em;
}



#contactlink {
  padding: 1em 3em 1em 3em;
  border: 1px solid;
  border-color: $red;
  margin-bottom: 16em;
  margin-top: 1em;
}
