
#top-bar {
  vertical-align: bottom;
  padding-top: 26px;

}

#menu-right {
    vertical-align: bottom;
}

#menu-text {
    font-family: $headline-font;
    font-weight: bold;
    color: $text-color;
    background-color: white;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;


		&:hover {
  			color: transparentize($text-color, .5);
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    		}
      }



#pylon-text {
    font-family: $headline-font;
    font-weight: bold;
    font-size: $lead-font-size;
    text-align: left;
    color: $text-color;
    vertical-align: bottom;
    background-color: white;
}
